/docker/nginx/logs/nginx/
/docker/mysql/logs/mariadb/
/docker/nginx/logs/
/.composer/
/.symfony5/
/clinicalResource/vendor
/.bash_history
docker/nginx/logs/nginx/access.log
docker/nginx/logs/nginx/error.log
