{#{% extends '@EasyAdmin/layout.html.twig' %}#}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}
    <div style="width: 700px; height: 500px;">
    {{ render_chart(chart) }}
    </div>

{% endblock main %}