.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-container::after {
    content: "Informacion de la ficha del especialista";
    position: absolute;
    bottom: 150%; /* Mostrar encima */
    left: 50%;
    transform: translateX(-50%) translateY(10px);
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1000;
    pointer-events: auto; /* Permitir selección */
}

.tooltip-container:hover::after,
.tooltip-container.tooltip-visible::after {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0); /* Se desliza hacia arriba */
}

.tooltip-container.tooltip-visible::after {
    pointer-events: auto; /* Permitir interacciones mientras se muestra */
}


.list-group-item {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.list-group-item.visible {
    opacity: 1;
    transform: translateX(0);
}

.custom-tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    max-width: 250px;
    z-index: 1000;
    top: 100%;
    left: 0;
    white-space: nowrap;
    display: none;
}